

* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body { 
    background-color: #ccc;
}
.text {
    font-weight: bold;
    
}

/*barra de promos*/
.barra{
    text-align: center;
    background-color:black;
    font-size:15px;
    padding-top: 3px;
    padding-bottom: 4px;
    color: white;
}
/*parte do cabeçalho*/
.center { 
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 2%;
}

.flex{display: flex;} 

.align-flex-center { 
    justify-content: center;
    align-items: center;

}

.align-flex-end { 
    justify-content: flex-end;
    align-items: flex-end;
}



header { 
    height: 70px;
    background-color:red;
    color: white;
    
}

.logo { padding: 0 9px;}

.logo img { 
    width: 100px;
    padding-bottom: 13px
}

.input-search { 
    padding:0 10px ;
    width: 70%;
    display: flex;
    padding-bottom: 17px;
    padding-top: 12px;
    
}

.input-search form {
    display: flex;
    width: 100%;
}

.input-search input[type=text] {
    width: calc(100% - 40px);
    height:40px;

}

.input-search button { 
    width: 40px;
    border: 0;
    height: 40px;
    background-color: #f0f0f0;
}

.text-info-header {
    margin: 8px 0;
    height: 50px;
    font-size: 12px;
    padding: 5px 20px;
    cursor: pointer;
    padding-bottom: 2px
}

.text-info-header:hover {
    border-radius: 2px;
    outline: 2px solid white;
    
    
}

.text-info-header p{ 
    white-space: nowrap;
}



/*menuu*/
.menu { 
    font-size: 16px;
    
}

.menu ul {
    background-color: grey;
    position: absolute;
    padding: 4px;
    width: 100%;

}

.menu ul li { 
    display: inline;
    position: relative;
}

.menu ul li a { 
    color:#ccc;
    text-decoration: none;
    display:inline-block;
    padding: 10px;
    transition: background .6s;
}

.menu ul li a:hover { 
    background-color: black;
}


/*sub menu*/
.menu ul ul {
    display: none;
    left: 0;
    position: absolute;
    background-color: rgb(219, 75, 75);
    

}

.menu ul li:hover ul { 
    display: block;
}

.menu ul ul  {
   width: 150px;

}

.menu ul ul li a { 
    display: block;
}


